::selection {
  background: #ffb7b7; /* Safari */
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

.header_container {
  font-family: "Sofia Sans";
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 60px;
}

.header_container h1 {
  margin-top: 15;
}

.header_container h2 {
  margin-top: -40;
  font-size: 25px;
  color: #ee1750;
}

li {
  list-style-type: none;
}

.precalc_info {
  font-family: "Sofia Sans";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
  padding: 0px;
}

.precalc_li {
  background-color: white;
  border-radius: 30px;
  width: 280px;
  height: 185px;
  line-height: 40px;
  /* font-size: 30px; */
}

.precalc_number {
  color: #ee1750;
  font-size: 50px;
  margin: 25px;
}

.precalc_info {
  margin: -25px 25px;
  font-size: 18px;
  line-height: 1.4em;
}

.precalc_li:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.02);
}

.calc_container {
  margin-top: 45px;
  grid-template-columns: 580px 580px;
  display: grid;
  justify-content: center;
  grid-column-gap: 20px;
  grid-auto-rows: minmax(100px,);
}

.calc_content,
.calc_dop_content {
  font-family: "Sofia Sans";
  background-color: white;
  border-radius: 30px;
  padding-left: 25px;
}


.basic_input {
  font-size: 14px;
  padding: 10px 10px 10px 14px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  border-style: solid;
  border-radius: 14px;
  width: 260px;
}


.button-26 {
  appearance: button;
  background-color: #ee1750;
  border: 1px solid #ee1750;
  border-radius: 14px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family:"Sofia Sans";
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 94px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-26:disabled {
  opacity: .5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #ee1750b6;
  border-color: #ee1750b6;
}
/* 
.button-26:active {
  background-color: #ee1750;
  border-color: #ee1750;
} */

input:focus{
  outline:none;
  border-color: #ee1750;
}

.weight_input{
  padding: 10px 0px 10px 14px;
  width:120px;
}

.gabarit_input{
  padding: 10px 0px 10px 14px;
  width:105px;
}